#bat1 {
  width: 180px;
  height: 60px;
  border: 4px solid black;
}

#bat1 #one_third_full {
  height: 100%;
  width: 33%;
  background-color: #ff0000;
  /* by this we forbid the color leaving out of borders*/
  max-width: 100%;
  transition: width 2s;
}

#bat1::after {
  display: block;
  content: "";
  width: 10px;
  height: 18px;
  background-color: black;
  position: relative;
  /* it seems it works like into a mirror :) */
  top: -38px;
  left: 183px;
}

#bat2 {
  width: 180px;
  height: 60px;
  border: 4px solid black;
}

#bat2 #two_third_full {
  height: 100%;
  width: 67%;
  background-color: #ffbf00;
  max-width: 100%;
}

#bat2::after {
  display: block;
  content: "";
  width: 10px;
  height: 18px;
  background-color: black;
  position: relative;
  top: -38px;
  left: 183px;
}

#bat3 {
  width: 180px;
  height: 60px;
  border: 4px solid black;
  background-color: #0ac80a;
  max-width: 100%;
  position: relative;
}

#bat3::after {
  display: block;
  content: "";
  width: 10px;
  height: 18px;
  background-color: black;
  position: relative;
  top: 20px;
  left: 183px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battery1-container {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
  margin-bottom: 10px;
}

#bat1 #one_third_full.charging{
  width: 100%;
}

#bat1 #one_third_full.discharging {
  width: 33%;
}

#bat2 #two_third_full.charging{
  width: 100%;
}

#bat2 #two_third_full.discharging {
  width: 67%;
}