h2::after {
    display: block;
    content: '';
    /* width: 35px; */
    width: 100%;
    height: 6px;
    background-color: darkgoldenrod;
}

h2 {
    color:brown;
    display: block;
    width: max-content;
}